body {
    font-family: "Hanken Grotesk", sans-serif;
}


h1 {
    color: #026ec5;
    display: block;
    font-size: 35px;
    font-weight: 350;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #1278cc;
    font-size: 15px;
    font-weight: 100;
    line-height: 19px;
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

.weather-temperature img {
    margin-top: -14px;
    height: 80px;
}

.weather-temperature strong {
    color: #026ec5;
    font-size: 50px;
    line-height: 1;
    font-weight: 250;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    color: #1278cc;
    top: -30px;
}

.measures {
    margin: 20px 0;
}